<div class="row" style="margin-top: 50px; margin-bottom: 50px; margin-left: 20px; margin-right: 20px;">
  <div class="col-md-6 ml-auto mr-auto">
    <div class="card card-post card-round">
      <div class="card-body text-center">
        <div style="font-size: 30px; font-weight: 600;">Successfully Registered</div>
        <div class="separator-solid"></div>
        <div class="timeline-body">
          <p>( Login Id & Password will be sent to your registered mail. )</p>
        </div>
        <div class="timeline-body">
          <p>Your Money Back in the Customer Wallet Portal for buying your choice products.</p>
        </div>
        <div class="timeline-body">
          <p>Please send your talent Videos/Audios/Photos on our mail by clicking the following button.</p>
        </div>
        <div class="separator-solid"></div>
        <a href="mailto:<talenthunt@wisteriaindia.com>" class="btn btn-primary btn-rounded btn-md">Mail Here</a> &nbsp;
        <a routerLink="/home" class="btn btn-primary btn-rounded btn-md">Home</a>
      </div>
    </div>
  </div>
</div>
