<div class="wrapper" style="background: url(../assets/img/bg-abstract2.png); background-size: cover; height: 100%;">
  <div class="container-fluid">
  <div class="row" style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
    <div class="col-md-4 ml-auto mr-auto">
      <a routerLink="/home" class="logo" style="height: 100px;">
        <img src="../assets/img/LogoSiteWhite.png" alt="navbar brand" class="" style="max-height: -webkit-fill-available; height: inherit;">
      </a>
    </div>
  </div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <h4 class="text-center">{{data}}</h4>
      <div class="mb-4">
        <hr class="solid">
      </div>
      <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >

        <div class="row">
        <!-- First Name -->
        <div class="form-group col-sm-4">
          <!-- <label for="name">First Name</label> -->
          <input type="text" name="firstname"
                 formControlName="firstname"
                 autocomplete="off"
                 class="form-control input-sm"
                 placeholder="First Name">
            <div *ngIf="firstname.touched && firstname.invalid" class="text-danger" >
              <small class="alert alert-danger" *ngIf="firstname.errors.required">Required</small>
              <small class="alert alert-danger" *ngIf="firstname.errors.minlength">Minimum {{firstname.errors.minlength.requiredLength}} characters</small>
              <small class="alert alert-danger" *ngIf="firstname.errors.maxlength">Maximum {{firstname.errors.maxlength.requiredLength}} characters</small>
            </div>
        </div>

        <!-- last name -->
        <div class="form-group col-sm-4">
          <!-- <label for="last name">Last Name</label> -->
          <input type="text" name="lastname"
                 formControlName="lastname"
                 autocomplete="off"
                 class="form-control input-sm"
                 placeholder="Last Name">
                 <div *ngIf="lastname.touched && lastname.invalid" class="text-danger">
                  <small class="alert alert-danger" *ngIf="lastname.errors.required">Required</small>
                  <small class="alert alert-danger" *ngIf="lastname.errors.minlength">Minimum {{lastname.errors.minlength.requiredLength}} characters</small>
                  <small class="alert alert-danger" *ngIf="lastname.errors.maxlength">Maximum {{lastname.errors.maxlength.requiredLength}} characters</small>
                </div>
        </div>


         <!-- Referal ID -->
         <div class="form-group col-sm-4">
          <!-- <label for="name">First Name</label> -->
          <input type="text" name="referalId"
                 formControlName="referalId"
                 autocomplete="off"
                 class="form-control input-sm"
                 [(ngModel)] = "referral_id"
                 readonly>
            <div *ngIf="referalId.touched && referalId.invalid" class="text-danger" >
              <small class="alert alert-danger" *ngIf="referalId.errors.required">Required</small>
            </div>
        </div>

        </div>

        <div class="row">
          <!-- Date -->
          <div class="form-group col-6">
            <!-- <label for="last name">Last Name</label> -->
            <input type="datetime-local" name="datetime"
                  formControlName="datetime"
                  autocomplete="off"
                  class="form-control input-sm"
                  placeholder="Date and Time">
                  <div *ngIf="datetime.touched && datetime.invalid" class="text-danger">
                    <small class="alert alert-danger" *ngIf="datetime.errors.required">Required</small>
                  </div>
          </div>

          <!-- Address -->
          <div class="form-group col-6">
            <!-- <label for="last name">Last Name</label> -->
            <input type="text" name="address"
                   formControlName="address"
                   autocomplete="off"
                   class="form-control input-sm"
                   placeholder="Address">
                   <div *ngIf="address.touched && address.invalid" class="text-danger">
                    <small class="alert alert-danger" *ngIf="address.errors.required">Required</small>
                  </div>
          </div>
          </div>

        <div class="row">
          <!-- Email -->
          <div class="form-group col-6">
            <!-- <label for="email">Email</label> -->
            <input type="email"
                  name="email"
                  formControlName="email"
                  autocomplete="off"
                  class="form-control input-sm"
                  placeholder="Email">
                  <div *ngIf="(email.invalid && email.touched) || email.dirty" class="text-danger">
                    <small class="alert alert-danger" *ngIf="email.errors?.required" >Required</small>
                    <small class="alert alert-danger" *ngIf="email.errors?.pattern" >Valid Email</small>
                  </div>
          </div>

          <!-- Contact Number -->
          <div class="form-group col-6">
            <!-- <label for="email">Contact Number</label> -->
            <input type="text"
                  name="contactno"
                  formControlName="contactno"
                  autocomplete="off"
                  class="form-control input-sm"
                  placeholder="Contact Number">
                  <div *ngIf="contactno.touched && contactno.invalid" class="text-danger">
                    <small class="alert alert-danger" *ngIf="contactno.errors.required">Required.</small>
                    <small class="alert alert-danger" *ngIf="contactno.errors.pattern">Enter 10 digit Mobile Number</small>
                  </div>
          </div>
        </div>

        <div class="row">
          <!--  Password -->
        <div class="form-group col-6">
          <!-- <label for="name">Password</label> -->
          <input type="password"
                name="password"
                formControlName="password"
                autocomplete="off"
                class="form-control input-sm"
                placeholder="Password">
                <div *ngIf="password.touched && password.invalid" class="text-danger">
                  <small class="alert alert-danger" *ngIf="password.errors.required">Required</small>
                  <small class="alert alert-danger" *ngIf="password.errors.minlength">Minimum {{password.errors.minlength.requiredLength}} characters.</small>
                </div>

        </div>

        <!-- Confirm Password -->
        <div class="form-group col-6">
        <!-- <label for="name">Confirm Password</label> -->
          <input type="password"
                name="confirmpassword"
                formControlName="confirmpassword"
                autocomplete="off"
                class="form-control input-sm"
                placeholder="Confirm Password">
                <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="text-danger">
                  <small class="alert alert-danger" *ngIf="confirmpassword.errors.required">Required</small>
                  <small class="alert alert-danger" *ngIf="confirmpassword.errors.confirmedValidator">Password and Confirm Password must be match.</small>
                </div>
        </div>
        </div>
        <div class="form-checkbox">
          <input type="checkbox" class="form-check-input" style="margin-left: 10px;" id="exampleCheck1" formControlName="checkbox">
          <label class="form-check-label" style="margin-left: 30px;" for="exampleCheck1">Accept all terms & policies</label>
          <div *ngIf="checkbox.touched && checkbox.invalid" class="text-danger">
            <small class="alert alert-danger" *ngIf="checkbox.errors.required">Required</small>
          </div>
        </div>


      <button type="submit" [disabled]="!angForm.valid" (click)="loader()" class="btn btn-primary btn-lg btn-block" >Register</button>

      <!-- Register buttons -->
  <div class="text-center" style="padding-top: 10px;">
    <p>Do you have an account?  <a routerLink="/login"> Login Here</a></p>
    <div class="mb-4">
      <hr class="solid">
    </div>
    <p>For Referal Code contact us <b><a href="mailto:customer.care@wisteriaindia.com">customer.care@wisteriaindia.com </a></b></p>
    <!--<p>or sign up with:</p>
     <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button> -->
  </div>
      </form>
    </div>
  </div>
  <!-- <div class="col-md-3">
  </div> -->
</div>
</div>
<ngx-ui-loader></ngx-ui-loader>
<simple-notifications [options]="options"></simple-notifications>
<app-home-footer></app-home-footer>

</div>
