<div class="wrapper" style="background: url(../assets/img/bg-abstract2.png);">
  <div class="container-fluid">
  <div class="row" style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
    <div class="col-md-4 ml-auto mr-auto">
      <a routerLink="home" class="logo" style="height: 100px;">
        <img src="../assets/img/LogoSiteWhite.png" alt="navbar brand" class="" style="max-height: -webkit-fill-available; height: inherit;">
      </a>
    </div>
  </div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <h4 class="text-center">Registration</h4>
      <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >


        <div class="row">
        <!-- First Name -->
        <div class="form-group col-6">
          <!-- <label for="name">First Name</label> -->
          <input type="text" name="name"
                 formControlName="name"
                 autocomplete="off"
                 class="form-control input-sm"
                 placeholder="First Name">
            <div *ngIf="name.touched && name.invalid" class="text-danger" >
              <small class="alert alert-danger" *ngIf="name.errors.required">Name is required.</small>
              <small class="alert alert-danger" *ngIf="name.errors.minlength">Name should be minimum {{name.errors.minlength.requiredLength}} characters.</small>
              <small class="alert alert-danger" *ngIf="name.errors.maxlength">Name should be maximum {{name.errors.maxlength.requiredLength}} characters.</small>
            </div>
        </div>

        <!-- last name -->
        <div class="form-group col-6">
          <!-- <label for="last name">Last Name</label> -->
          <input type="text" name="lastname"
                 formControlName="lastname"
                 autocomplete="off"
                 class="form-control input-sm"
                 placeholder="Last Name">
                 <div *ngIf="lastname.touched && lastname.invalid" class="text-danger">
                  <small class="alert alert-danger" *ngIf="lastname.errors.required">Lastname is required.</small>
                  <small class="alert alert-danger" *ngIf="lastname.errors.minlength">Last Name should be minimum {{lastname.errors.minlength.requiredLength}} characters.</small>
                  <small class="alert alert-danger" *ngIf="lastname.errors.maxlength">Last Name should be maximum {{lastname.errors.maxlength.requiredLength}} characters.</small>
                </div>
        </div>
        </div>

        <div class="row">
          <!-- Email -->
          <div class="form-group col-6">
            <!-- <label for="email">Email</label> -->
            <input type="email"
                  name="email"
                  formControlName="email"
                  autocomplete="off"
                  class="form-control input-sm"
                  placeholder="Email">
                  <div *ngIf="(email.invalid && email.touched) || email.dirty" class="text-danger">
                    <small class="alert alert-danger" *ngIf="email.errors?.required" >Email is required</small>
                    <small class="alert alert-danger" *ngIf="email.errors?.pattern" >Please provide a valid email address</small>
                  </div>
          </div>

          <!-- Contact Number -->
          <div class="form-group col-6">
            <!-- <label for="email">Contact Number</label> -->
            <input type="text"
                  name="contactno"
                  formControlName="contactno"
                  autocomplete="off"
                  class="form-control input-sm"
                  placeholder="Contact Number">
                  <div *ngIf="contactno.touched && contactno.invalid" class="text-danger">
                    <small class="alert alert-danger" *ngIf="contactno.errors.required">Mobile Number is required.</small>
                    <small class="alert alert-danger" *ngIf="contactno.errors.pattern">Please, Enter 10 digit Mobile Number.</small>
                  </div>
          </div>
        </div>

        <div class="row">
          <!--  Password -->
        <div class="form-group col-6">
          <!-- <label for="name">Password</label> -->
          <input type="password"
                name="password"
                formControlName="password"
                autocomplete="off"
                class="form-control input-sm"
                placeholder="Password">
                <div *ngIf="password.touched && password.invalid" class="text-danger">
                  <small class="alert alert-danger" *ngIf="password.errors.required">Password is required.</small>
                  <small class="alert alert-danger" *ngIf="password.errors.minlength">Password should be minimum {{password.errors.minlength.requiredLength}} characters.</small>
                </div>

        </div>

        <!-- Confirm Password -->
        <div class="form-group col-6">
        <!-- <label for="name">Confirm Password</label> -->
          <input type="password"
                name="confirmpassword"
                formControlName="confirmpassword"
                autocomplete="off"
                class="form-control input-sm"
                placeholder="Confirm Password">
                <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="text-danger">
                  <small class="alert alert-danger" *ngIf="confirmpassword.errors.required">Password is required.</small>
                  <small class="alert alert-danger" *ngIf="confirmpassword.errors.confirmedValidator">Password and Confirm Password must be match.</small>
                </div>
        </div>
        </div>


      <button type="submit" [disabled]="!angForm.valid" class="btn btn-primary btn-lg btn-block" >Register</button>

      <!-- Register buttons -->
  <div class="text-center" style="padding-top: 10px;">
    <p>Do you have an account?  <a routerLink="/login"> Login Here</a></p>
    <!--<p>or sign up with:</p>
     <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button> -->
  </div>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
</div>
</div>
<<app-home-footer></app-home-footer>>
