<!-- Navbar Header -->
<app-navbar></app-navbar>
<!-- End Navbar -->
 <!-- Sidebar -->
 <app-sidebar></app-sidebar>
 <!-- End Sidebar -->


  <!-- Main Container -->
  <div class="main-panel">
    <div class="content">

      <div class="page-inner">
        <div class="page-header">
          <h4 class="page-title">Recent Customers</h4>
          <ul class="breadcrumbs">
            <li class="nav-home">
              <a routerLink="/dashboard">
                <i class="flaticon-home"></i>
              </a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a>Manage Customers</a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a>Recent Customers</a>
            </li>
          </ul>
        </div>
      <div>
        <div class="card">
              <div class="card-header">
                <div class="card-title">Recent Customers</div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Customer Name</th>
                        <th>Package</th>
                        <th>Club</th>
                        <th>Sponsor</th>
                        <th>Phone No.</th>
                        <th>Date of Join</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                        <td>Table cell</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
      </div>
    </div>

  <!-- End Main Container -->

 <!-- Footer -->
 <app-footer></app-footer>
</div>
</div>
 <!-- Footer End -->
