<div class="wrapper">

  <!-- Navbar Header -->
  <app-pnavbar></app-pnavbar>
  <!-- End Navbar -->

<!-- Sidebar -->
<app-psidebar></app-psidebar>
<!-- End Sidebar -->

<div class="main-panel">
  <div class="content">
    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">Partner Dashboard</h2>
            <h5 class="text-white">Referral ID :&nbsp;&nbsp; <b>{{partner_id}}</b></h5>

          </div>
        </div>
      </div>
    </div>
    <div class="page-inner mt--5">


      <div class="row">
      <!-- Partner blog -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title fw-mediumbold">Recent Members</div>
              <div class="card-list">
                <div class="item-list" *ngFor="let part of partner | paginate: { itemsPerPage: 6,
                                                                      currentPage: page,
                                                                      totalItems: totalLength }">
                  <div class="avatar">
                    <img src="../assets/img/profile.png" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">{{ part.firstname }} {{ part.lastname }}</div>
                    <div class="status">{{part.contactno}}</div>
                    <!-- <div class="status">{{part.}}</div> -->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      <!-- New employee -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title fw-mediumbold">Earning</div>
              <div class="card-list">
                <div class="item-list">
                  <!-- <div class="avatar">
                    <img src="../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                  </div> -->
                  <div class="info-user ml-3">
                    <div class="username"><h5>Wallet Balance : <b>10000.00</b></h5></div>
                    <!-- <div class="status">Graphic Designer</div> -->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- Customer -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title fw-mediumbold">My Account</div>
              <!-- <div class="card-list">
                <div class="item-list">
                  <div class="avatar">
                    <img src="../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Jimmy Denis</div>
                    <div class="status">Graphic Designer</div>
                  </div>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="../assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Chad</div>
                    <div class="status">CEO Zeleaf</div>
                  </div>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="../assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Talha</div>
                    <div class="status">Front End Designer</div>
                  </div>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="../assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">John Doe</div>
                    <div class="status">Back End Developer</div>
                  </div>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="../assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Talha</div>
                    <div class="status">Front End Designer</div>
                  </div>
                </div>
                <div class="item-list">
                  <div class="avatar">
                    <img src="../assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                  </div>
                  <div class="info-user ml-3">
                    <div class="username">Jimmy Denis</div>
                    <div class="status">Graphic Designer</div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
  <!-- Footer End -->
</div>

</div>
<router-outlet></router-outlet>
