<!-- Navbar Header -->
<app-navbar></app-navbar>
<!-- End Navbar -->
 <!-- Sidebar -->
 <app-sidebar></app-sidebar>
 <!-- End Sidebar -->

  <!-- Main Container -->
  <div class="main-panel">
    <div class="content">

      <div class="page-inner">
        <div class="page-header">
          <h4 class="page-title">Customers</h4>
          <ul class="breadcrumbs">
            <li class="nav-home">
              <a href="index.html">
                <i class="flaticon-home"></i>
              </a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a href="#">Manage Customers</a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a href="#">View Customers</a>
            </li>
          </ul>
        </div>
      <div>
        <div class="card">
              <div class="card-header">
                <div class="card-title">All Customer</div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <!-- <th>Customer ID</th> -->
                        <th>Transaction ID</th>
                        <th>First Name</th>
                        <th>Talent</th>
                        <th>Second Name</th>
                        <th>Talent</th>
                        <th>Third Name</th>
                        <th>Talent</th>
                        <th>Fourth Name</th>
                        <th>Talent</th>
                        <th>Fifth Name</th>
                        <th>Talent</th>

                        <th>Email</th>
                        <!-- <th>Balance</th> -->
                        <!-- <th>TopUp</th>
                        <th>Delete</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let part of telentHunt | paginate: { itemsPerPage: 5,
                                                                    currentPage: page,
                                                                    totalItems: totalLength }">
                        <!-- <td> {{part.customer_id}} </td> -->
                        <td> {{part.transaction_id}} </td>
                        <td> {{part.name_1}} </td>
                        <td> {{part.telent_1}} </td>
                        <td> {{part.name_2}} </td>
                        <td> {{part.telent_2}} </td>
                        <td> {{part.name_3}} </td>
                        <td> {{part.telent_3}} </td>
                        <td> {{part.name_4}} </td>
                        <td> {{part.telent_4}} </td>
                        <td> {{part.name_5}} </td>
                        <td> {{part.telent_5}} </td>


                        <td> {{part.email}} </td>
                        <!-- <td> {{part.wallet}} </td> -->
                        <!-- <td> <button class="btn btn-success" (click)="addWallet(part)">TopUp</button> </td>
                        <td> <button class="btn btn-danger" (click)="deleteUser(part)">Delete</button> </td> -->
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>


  <!-- End Main Container -->

 <!-- Footer -->
 <app-home-footer></app-home-footer>
</div>
</div>
 <!-- Footer End -->
