<div class="wrapper" style="background: url(../assets/img/bg-abstract2.png); background-size: cover; height: 100%;">
  <div class="container-fluid">
  <div class="row" style="text-align: center; padding-top: 50px;">
    <div class="col-md-4 ml-auto mr-auto">
      <a routerLink="/home" class="logo" style="height: 100px;">
        <img src="../assets/img/LogoSiteWhite.png" alt="navbar brand" class="" style="max-height: -webkit-fill-available; height: inherit;">
      </a>
    </div>
  </div>

  <div class="row" style="margin-top: 50px; margin-bottom: 50px; margin-left: 20px; margin-right: 20px;">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-post card-round">
        <div class="card-body text-center">
          <div style="font-size: 30px; font-weight: 600;">Sign In</div>
          <div class="separator-solid"></div>
          <div class="timeline-body">
            <p>Select Mininum 1 Participant and maximum 5 Participant</p>
          </div>
          <div class="separator-solid"></div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Participant 1</label>
            <div class="col-md-3 col-form-label">
              <input type="text" class="form-control input-full" id="inlineinput" placeholder="Enter Full Name">
            </div>
            <div class="col-md-3 col-form-label">
              <input type="date" class="form-control input-full" id="inlineinput">
            </div>
            <div class="col-md-3 col-form-label">
              <div class="selectgroup">
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="male" class="selectgroup-input">
                  <span class="selectgroup-button">Male</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="femail" class="selectgroup-input">
                  <span class="selectgroup-button">Female</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Select Talent</label>
            <div class="selectgroup selectgroup-pills">
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Dance" class="selectgroup-input">
                <span class="selectgroup-button">Dance</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Poem" class="selectgroup-input">
                <span class="selectgroup-button">Poem</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Story" class="selectgroup-input">
                <span class="selectgroup-button">Story</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Singing" class="selectgroup-input">
                <span class="selectgroup-button">Singing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Acting" class="selectgroup-input">
                <span class="selectgroup-button">Acting</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Drawing" class="selectgroup-input">
                <span class="selectgroup-button">Drawing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Photography" class="selectgroup-input">
                <span class="selectgroup-button">Photography</span>
              </label>
            </div>
          </div>
          <div class="separator-solid"></div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Participant 2</label>
            <div class="col-md-3 col-form-label">
              <input type="text" class="form-control input-full" id="inlineinput" placeholder="Enter Full Name">
            </div>
            <div class="col-md-3 col-form-label">
              <input type="date" class="form-control input-full" id="inlineinput">
            </div>
            <div class="col-md-3 col-form-label">
              <div class="selectgroup">
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="male" class="selectgroup-input">
                  <span class="selectgroup-button">Male</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="femail" class="selectgroup-input">
                  <span class="selectgroup-button">Female</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Select Talent</label>
            <div class="selectgroup selectgroup-pills">
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Dance" class="selectgroup-input">
                <span class="selectgroup-button">Dance</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Poem" class="selectgroup-input">
                <span class="selectgroup-button">Poem</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Story" class="selectgroup-input">
                <span class="selectgroup-button">Story</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Singing" class="selectgroup-input">
                <span class="selectgroup-button">Singing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Acting" class="selectgroup-input">
                <span class="selectgroup-button">Acting</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Drawing" class="selectgroup-input">
                <span class="selectgroup-button">Drawing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Photography" class="selectgroup-input">
                <span class="selectgroup-button">Photography</span>
              </label>
            </div>
          </div>
          <div class="separator-solid"></div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Participant 3</label>
            <div class="col-md-3 col-form-label">
              <input type="text" class="form-control input-full" id="inlineinput" placeholder="Enter Full Name">
            </div>
            <div class="col-md-3 col-form-label">
              <input type="date" class="form-control input-full" id="inlineinput">
            </div>
            <div class="col-md-3 col-form-label">
              <div class="selectgroup">
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="male" class="selectgroup-input">
                  <span class="selectgroup-button">Male</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="femail" class="selectgroup-input">
                  <span class="selectgroup-button">Female</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Select Talent</label>
            <div class="selectgroup selectgroup-pills">
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Dance" class="selectgroup-input">
                <span class="selectgroup-button">Dance</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Poem" class="selectgroup-input">
                <span class="selectgroup-button">Poem</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Story" class="selectgroup-input">
                <span class="selectgroup-button">Story</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Singing" class="selectgroup-input">
                <span class="selectgroup-button">Singing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Acting" class="selectgroup-input">
                <span class="selectgroup-button">Acting</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Drawing" class="selectgroup-input">
                <span class="selectgroup-button">Drawing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Photography" class="selectgroup-input">
                <span class="selectgroup-button">Photography</span>
              </label>
            </div>
          </div>
          <div class="separator-solid"></div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Participant 4</label>
            <div class="col-md-3 col-form-label">
              <input type="text" class="form-control input-full" id="inlineinput" placeholder="Enter Full Name">
            </div>
            <div class="col-md-3 col-form-label">
              <input type="date" class="form-control input-full" id="inlineinput">
            </div>
            <div class="col-md-3 col-form-label">
              <div class="selectgroup">
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="male" class="selectgroup-input">
                  <span class="selectgroup-button">Male</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="femail" class="selectgroup-input">
                  <span class="selectgroup-button">Female</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Select Talent</label>
            <div class="selectgroup selectgroup-pills">
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Dance" class="selectgroup-input">
                <span class="selectgroup-button">Dance</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Poem" class="selectgroup-input">
                <span class="selectgroup-button">Poem</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Story" class="selectgroup-input">
                <span class="selectgroup-button">Story</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Singing" class="selectgroup-input">
                <span class="selectgroup-button">Singing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Acting" class="selectgroup-input">
                <span class="selectgroup-button">Acting</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Drawing" class="selectgroup-input">
                <span class="selectgroup-button">Drawing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Photography" class="selectgroup-input">
                <span class="selectgroup-button">Photography</span>
              </label>
            </div>
          </div>
          <div class="separator-solid"></div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Participant 5</label>
            <div class="col-md-3 col-form-label">
              <input type="text" class="form-control input-full" id="inlineinput" placeholder="Enter Full Name">
            </div>
            <div class="col-md-3 col-form-label">
              <input type="date" class="form-control input-full" id="inlineinput">
            </div>
            <div class="col-md-3 col-form-label">
              <div class="selectgroup">
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="male" class="selectgroup-input">
                  <span class="selectgroup-button">Male</span>
                </label>
                <label class="selectgroup-item">
                  <input type="radio" name="value" value="femail" class="selectgroup-input">
                  <span class="selectgroup-button">Female</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-3 col-form-label">Select Talent</label>
            <div class="selectgroup selectgroup-pills">
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Dance" class="selectgroup-input">
                <span class="selectgroup-button">Dance</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Poem" class="selectgroup-input">
                <span class="selectgroup-button">Poem</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Story" class="selectgroup-input">
                <span class="selectgroup-button">Story</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Singing" class="selectgroup-input">
                <span class="selectgroup-button">Singing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Acting" class="selectgroup-input">
                <span class="selectgroup-button">Acting</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Drawing" class="selectgroup-input">
                <span class="selectgroup-button">Drawing</span>
              </label>
              <label class="selectgroup-item">
                <input type="checkbox" name="value" value="Photography" class="selectgroup-input">
                <span class="selectgroup-button">Photography</span>
              </label>
            </div>
          </div>
          <div class="separator-solid"></div>
          <div class="form-group form-inline">
            <div class="col-md-6 col-form-label">
              <input type="email" class="form-control input-full" id="inlineinput" placeholder="Enter Email">
            </div>
            <div class="col-md-6 col-form-label">
              <input type="phone" class="form-control input-full" id="inlineinput" placeholder="Enter Phone Number">
            </div>
          </div>
          <div class="form-group form-inline">
            <div class="col-md-6 col-form-label">
              <textarea class="form-control input-full" aria-label="With textarea" placeholder="Enter Address"></textarea>
            </div>
            <div class="col-md-6 col-form-label">
              <input type="text" class="form-control input-full" id="inlineinput" placeholder="Enter Pin Code">
            </div>
          </div>
          <div class="separator-solid"></div>
          <div class="timeline-body">
              <h4 class="timeline-title">Bank Detail</h4>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          <div class="form-group form-inline">
            <div class="col-md-6 col-form-label">
              <ul class="list-unstyled">
                              <li>India Multitrade Pvt. Ltd</li>
                              <li> Ac. No:-72180200000075</li>
                              <li>Bank Name: Bank of Baroda</li>
                              <li>IFSC CODE:-BARB0BAVJBADL</li>
                              <li>Branch: - Badlapur Maharashtra</li>
                          </ul>
            </div>
            <div class="col-md-6 col-form-label">
              <img src="../assets/img/qr-code.png" alt="Wisteria India" class="navbar-brand" style="max-height: -webkit-fill-available;">
            </div>
          </div>
          <div class="separator-solid"></div>
          <a href="#" class="btn btn-primary btn-rounded btn-md disabled">Register Here</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
