<div class="wrapper" style="background: url(../assets/img/bg-abstract2.png); background-size: cover; height: 100%;">
  <div class="container-fluid">
  <div class="row" style="text-align: center; padding-top: 50px; padding-bottom: 50px;">
    <div class="col-md-4 ml-auto mr-auto">
      <a routerLink="/home" class="logo" style="height: 100px;">
        <img src="../assets/img/LogoSiteWhite.png" alt="navbar brand" class="" style="max-height: -webkit-fill-available; height: inherit;">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h4 class="text-center">Talent Hunt Registration</h4>&nbsp;
        <div class="stepwizard col-md-offset-3">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
              <!-- <p>Step 1</p> -->
            </div>
            <div class="stepwizard-step">
              <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
              <!-- <p>Step 2</p> -->
            </div>
            <div class="stepwizard-step">
              <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
              <!-- <p>Step 3</p> -->
            </div>
          </div>
        </div>&nbsp;&nbsp;

        <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">

          <div class="row setup-content" id="step-1">
            <div class="stepwizard col">
              <div class="col-md-12">
                <!-- <h3> Step 1</h3> -->

                <div class="form-group fieldGroup">

                  <!-- first -->
                  <div class="row" >
                    <div class="col-md-2">
                    <label class="control-label">Full Name</label>
                    </div>
                    <div class="col-md-10">
                      <input type="text" name="name"
                             formControlName="name"
                             autocomplete="off"
                             class="form-control"
                             placeholder="Enter Full Name"
                             [(ngModel)] = "demoName"/>
                             <div *ngIf="name.touched && name.invalid" class="text-danger" >
                              <small class="alert alert-danger" *ngIf="name.errors.required">Required</small>
                              <small class="alert alert-danger" *ngIf="name.errors.minlength">Minimum {{name.errors.minlength.requiredLength}} characters</small>
                              <small class="alert alert-danger" *ngIf="name.errors.maxlength">Maximum {{name.errors.maxlength.requiredLength}} characters</small>
                            </div>
                    </div>
                  </div>&nbsp;

                  <div class="row">
                    <div class="col-md-2">
                      <label class="control-label">Date of Birth</label>
                    </div>
                    <div class="col-md-10">
                      <input type="text" name="DOB"
                             formControlName="DOB"
                             autocomplete="off"
                             class="form-control"
                             placeholder="Enter DOB"
                             [(ngModel)]="demoDate"/>
                             <div *ngIf="DOB.touched && DOB.invalid" class="text-danger" >
                              <small class="alert alert-danger" *ngIf="DOB.errors.required">Required</small>
                            </div>
                    </div>
                  </div>&nbsp;

                  <div class="row">
                    <div class="col-md-2">
                    <label class="control-label">Hobbie</label>
                    </div>
                    <div class="col-md-10">
                      <input type="text" name="hobbie"
                              formControlName="hobbie"
                              autocomplete="off"
                              class="form-control"
                              placeholder="Enter Hobbie"
                              [(ngModel)] = "demoHobbie"/>
                              <div *ngIf="hobbie.touched && hobbie.invalid" class="text-danger" >
                              <small class="alert alert-danger" *ngIf="hobbie.errors.required">Required</small>
                            </div>
                    </div>
                  </div>&nbsp;
                <div class="row"></div>

                <div class="mb-4">
                  <hr class="solid">
                </div>

                <!-- Second -->
                <div class="row">
                  <div class="col-md-2">
                  <label class="control-label">Full Name</label>
                  </div>
                  <div class="col-md-10">
                    <input type="text" name="name2"
                           formControlName="name2"
                           autocomplete="off"
                           class="form-control"
                           placeholder="Enter Full Name"
                           [(ngModel)] = "demoName2"/>
                           <!-- <div *ngIf="name.touched && name.invalid" class="text-danger" >
                            <small class="alert alert-danger" *ngIf="name.errors.required">Required</small>
                            <small class="alert alert-danger" *ngIf="name.errors.minlength">Minimum {{name.errors.minlength.requiredLength}} characters</small>
                            <small class="alert alert-danger" *ngIf="name.errors.maxlength">Maximum {{name.errors.maxlength.requiredLength}} characters</small>
                          </div> -->
                  </div>
                </div>&nbsp;

                <div class="row">
                  <div class="col-md-2">
                    <label class="control-label">Date of Birth</label>
                  </div>
                  <div class="col-md-10">
                    <input type="text" name="DOB2"
                           formControlName="DOB2"
                           autocomplete="off"
                           class="form-control"
                           placeholder="Enter DOB"
                           [(ngModel)]="demoDate2"/>
                           <!-- <div *ngIf="DOB.touched && DOB.invalid" class="text-danger" >
                            <small class="alert alert-danger" *ngIf="DOB.errors.required">Required</small>
                          </div> -->
                  </div>
                </div>&nbsp;

                <div class="row">
                  <div class="col-md-2">
                  <label class="control-label">Hobbie</label>
                  </div>
                  <div class="col-md-10">
                    <input type="text" name="hobbie2"
                            formControlName="hobbie2"
                            autocomplete="off"
                            class="form-control"
                            placeholder="Enter Hobbie"
                            [(ngModel)] = "demoHobbie2"/>
                            <!-- <div *ngIf="hobbie.touched && hobbie.invalid" class="text-danger" >
                            <small class="alert alert-danger" *ngIf="hobbie.errors.required">Required</small>
                          </div> -->
                  </div>
                </div>&nbsp;
              <div class="row"></div>

              <div class="mb-4">
                <hr class="solid">
              </div>

              <!-- third -->
              <div class="row">
                <div class="col-md-2">
                <label class="control-label">Full Name</label>
                </div>
                <div class="col-md-10">
                  <input type="text" name="name3"
                         formControlName="name3"
                         autocomplete="off"
                         class="form-control"
                         placeholder="Enter Full Name"
                         [(ngModel)] = "demoName3"/>
                         <!-- <div *ngIf="name.touched && name.invalid" class="text-danger" >
                          <small class="alert alert-danger" *ngIf="name.errors.required">Required</small>
                          <small class="alert alert-danger" *ngIf="name.errors.minlength">Minimum {{name.errors.minlength.requiredLength}} characters</small>
                          <small class="alert alert-danger" *ngIf="name.errors.maxlength">Maximum {{name.errors.maxlength.requiredLength}} characters</small>
                        </div> -->
                </div>
              </div>&nbsp;

              <div class="row">
                <div class="col-md-2">
                  <label class="control-label">Date of Birth</label>
                </div>
                <div class="col-md-10">
                  <input type="text" name="DOB3"
                         formControlName="DOB3"
                         autocomplete="off"
                         class="form-control"
                         placeholder="Enter DOB"
                         [(ngModel)]="demoDate3"/>
                         <!-- <div *ngIf="DOB.touched && DOB.invalid" class="text-danger" >
                          <small class="alert alert-danger" *ngIf="DOB.errors.required">Required</small>
                        </div> -->
                </div>
              </div>&nbsp;

              <div class="row">
                <div class="col-md-2">
                <label class="control-label">Hobbie</label>
                </div>
                <div class="col-md-10">
                  <input type="text" name="hobbie3"
                          formControlName="hobbie3"
                          autocomplete="off"
                          class="form-control"
                          placeholder="Enter Hobbie"
                          [(ngModel)] = "demoHobbie3"/>
                          <!-- <div *ngIf="hobbie.touched && hobbie.invalid" class="text-danger" >
                          <small class="alert alert-danger" *ngIf="hobbie.errors.required">Required</small>
                        </div> -->
                </div>
              </div>&nbsp;
            <div class="row"></div>

            <div class="mb-4">
              <hr class="solid">
            </div>

            <!-- fourth -->
            <div class="row">
              <div class="col-md-2">
              <label class="control-label">Full Name</label>
              </div>
              <div class="col-md-10">
                <input type="text" name="name4"
                       formControlName="name4"
                       autocomplete="off"
                       class="form-control"
                       placeholder="Enter Full Name"
                       [(ngModel)] = "demoName4"/>
                       <!-- <div *ngIf="name.touched && name.invalid" class="text-danger" >
                        <small class="alert alert-danger" *ngIf="name.errors.required">Required</small>
                        <small class="alert alert-danger" *ngIf="name.errors.minlength">Minimum {{name.errors.minlength.requiredLength}} characters</small>
                        <small class="alert alert-danger" *ngIf="name.errors.maxlength">Maximum {{name.errors.maxlength.requiredLength}} characters</small>
                      </div> -->
              </div>
            </div>&nbsp;

            <div class="row">
              <div class="col-md-2">
                <label class="control-label">Date of Birth</label>
              </div>
              <div class="col-md-10">
                <input type="text" name="DOB4"
                       formControlName="DOB4"
                       autocomplete="off"
                       class="form-control"
                       placeholder="Enter DOB"
                       [(ngModel)]="demoDate4"/>
                       <!-- <div *ngIf="DOB.touched && DOB.invalid" class="text-danger" >
                        <small class="alert alert-danger" *ngIf="DOB.errors.required">Required</small>
                      </div> -->
              </div>
            </div>&nbsp;

            <div class="row">
              <div class="col-md-2">
              <label class="control-label">Hobbie</label>
              </div>
              <div class="col-md-10">
                <input type="text" name="hobbie4"
                        formControlName="hobbie4"
                        autocomplete="off"
                        class="form-control"
                        placeholder="Enter Hobbie"
                        [(ngModel)] = "demoHobbie4"/>
                        <!-- <div *ngIf="hobbie.touched && hobbie.invalid" class="text-danger" >
                        <small class="alert alert-danger" *ngIf="hobbie.errors.required">Required</small>
                      </div> -->
              </div>
            </div>&nbsp;
          <div class="row"></div>

          <div class="mb-4">
            <hr class="solid">
          </div>

          <!-- Fifth -->
          <div class="row">
            <div class="col-md-2">
            <label class="control-label">Full Name</label>
            </div>
            <div class="col-md-10">
              <input type="text" name="name5"
                     formControlName="name5"
                     autocomplete="off"
                     class="form-control"
                     placeholder="Enter Full Name"
                     [(ngModel)] = "demoName5"/>
                     <!-- <div *ngIf="name.touched && name.invalid" class="text-danger" >
                      <small class="alert alert-danger" *ngIf="name.errors.required">Required</small>
                      <small class="alert alert-danger" *ngIf="name.errors.minlength">Minimum {{name.errors.minlength.requiredLength}} characters</small>
                      <small class="alert alert-danger" *ngIf="name.errors.maxlength">Maximum {{name.errors.maxlength.requiredLength}} characters</small>
                    </div> -->
            </div>
          </div>&nbsp;

          <div class="row">
            <div class="col-md-2">
              <label class="control-label">Date of Birth</label>
            </div>
            <div class="col-md-10">
              <input type="text" name="DOB5"
                     formControlName="DOB5"
                     autocomplete="off"
                     class="form-control"
                     placeholder="Enter DOB"
                     [(ngModel)]="demoDate5"/>
                     <!-- <div *ngIf="DOB.touched && DOB.invalid" class="text-danger" >
                      <small class="alert alert-danger" *ngIf="DOB.errors.required">Required</small>
                    </div> -->
            </div>
          </div>&nbsp;

          <div class="row">
            <div class="col-md-2">
            <label class="control-label">Hobbie</label>
            </div>
            <div class="col-md-10">
              <input type="text" name="hobbie5"
                      formControlName="hobbie5"
                      autocomplete="off"
                      class="form-control"
                      placeholder="Enter Hobbie"
                      [(ngModel)] = "demoHobbie5"/>
                      <!-- <div *ngIf="hobbie.touched && hobbie.invalid" class="text-danger" >
                      <small class="alert alert-danger" *ngIf="hobbie.errors.required">Required</small>
                    </div> -->
            </div>
          </div>&nbsp;
          <div class="row"></div>

                  <!-- <div class="input-group-addon float-right">
                    <a href="javascript:void(0)" class="btn btn-success addMore">
                      <i class="fas fa-plus"></i>
                    </a>
                  </div> -->

                  <div class="mb-4">
                    <hr class="solid">
                  </div>
                </div>

                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
              </div>
            </div>
          </div>

          <div class="row setup-content" id="step-2">
            <div class="stepwizard col">
              <div class="col-md-12">
                <!-- <h3> Step 2</h3> -->
                <div class="form-group ">
                  <div class="row">
                    <div class="col-md-2">
                      <label class="control-label">Email</label>
                    </div>
                    <div class="col-md-10">
                      <input type="text" name="email"
                             formControlName="email"
                             autocomplete="off"
                             class="form-control"
                             placeholder="Enter Email"/>
                             <div *ngIf="email.touched && email.invalid" class="text-danger" >
                              <small class="alert alert-danger" *ngIf="email.errors.required">Required</small>
                            </div>
                    </div>
                  </div>&nbsp;

                  <div class="row">
                    <div class="col-md-2">
                      <label class="control-label">Contact No</label>
                    </div>
                    <div class="col-md-10">
                      <input type="text" name="contactno"
                             formControlName="contactno"
                             autocomplete="off"
                             class="form-control"
                             placeholder="Enter Contact No"/>
                             <div *ngIf="contactno.touched && contactno.invalid" class="text-danger" >
                              <small class="alert alert-danger" *ngIf="contactno.errors.required">Required</small>
                            </div>
                    </div>
                  </div>&nbsp;

                  <div class="row">
                    <div class="col-md-2">
                      <label class="control-label">Address</label>
                    </div>
                    <div class="col-md-10">
                      <textarea class="form-control" name="address"
                                formControlName="address"
                                autocomplete="off"
                                id="exampleFormControlTextarea1"
                                rows="2"
                                placeholder="Enter Address">
                      </textarea>
                      <div *ngIf="address.touched && address.invalid" class="text-danger" >
                        <small class="alert alert-danger" *ngIf="address.errors.required">Required</small>
                      </div>
                    </div>
                  </div>&nbsp;

                  <div class="row">
                    <div class="col-md-2">
                      <label class="control-label">Pin Code</label>
                    </div>
                    <div class="col-md-10">
                      <input type="text" name="pinCode"
                             formControlName="pinCode"
                             autocomplete="off"
                             class="form-control"
                             placeholder="Enter Pin Code"/>
                             <div *ngIf="pinCode.touched && pinCode.invalid" class="text-danger" >
                              <small class="alert alert-danger" *ngIf="pinCode.errors.required">Required</small>
                            </div>
                    </div>
                  </div>&nbsp;
                </div>

                <button class="btn btn-primary prevBtn pull-left" type="button">Previous</button>
                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
              </div>
            </div>
          </div>

          <div class="row setup-content" id="step-3">
            <div class="stepwizard col">
              <div class="col-md-12">
                <!-- <h3> Step 3</h3> -->

                <div class="timeline-body">
                  <!-- <h4 class="timeline-title">Bank Detail</h4> -->
                  <p>Registration Fee for all Family Members <b>₹ 100/-</b> only.</p>
                </div>

                <div class="form-group form-inline">
                  <div class="col-md-6 col-form-label">
                    <ul class="list-unstyled">
                      <li>Wisteria  India Multitrade Pvt. Ltd</li>
                      <li> Ac. No: 72180200000075</li>
                      <li>Bank Name: Bank of Baroda</li>
                      <li>IFSC CODE: BARB0BAVJBADL</li>
                      <li>Branch:  Badlapur Maharashtra</li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-form-label">
                    <img src="../assets/img/qr-code.png" alt="Wisteria India" class="navbar-brand" style="max-height: -webkit-fill-available;">
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <label class="control-label">Transaction ID</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" name="transaction_id"
                             formControlName="transaction_id"
                             autocomplete="off"
                             class="form-control"
                             placeholder="Enter Transaction ID"/>
                             <div *ngIf="transaction_id.touched && transaction_id.invalid" class="text-danger" >
                              <small class="alert alert-danger" *ngIf="transaction_id.errors.required">Required</small>
                            </div>
                            <p class="text-danger">Transaction ID Mandatory</p>
                    </div>
                  </div>&nbsp;
                </div>

                <button class="btn btn-primary prevBtn pull-left" type="button">Previous</button>
                <button class="btn btn-success pull-right" [disabled]="!angForm.valid" type="submit" >Submit</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="col"></div>
  </div>

</div>
</div>
