<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/privacy-policy">
            Privacy Policy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/term-condition">
            Term and Condition
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cancellation-refund-policy">
            Cancellation Refund Policy
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright ml-auto">
      © 2021 wisteriaindia, Developed By <a href="http://ocs.orgveda.co.in">Orgveda Consultancy Services</a>
    </div>
  </div>
</footer>
