<!-- <nav class="navbar navbar-header navbar-expand-sm" style="background-color: #3188f9;"  *ngIf="loginbtn">

  <a routerLink="home">
    <img src="../assets/img/LogoSiteWhite.png" alt="Wisteria India" class="navbar-brand" style="width: 25%;  left: 10px; margin: 0 15%;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarsExample" >
      <ul class="navbar-nav ml-auto ">

        <li class="nav-item ">
          <button type="button" class="btn btn-primary" routerLink="home" routerLinkActive="active">Home</button>
        </li>

        <li class="nav-item">
          <button type="button" class="btn btn-primary" routerLink="home" routerLinkActive="active">About Us</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" routerLink="login" routerLinkActive="active">Login</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary" routerLink="registration" routerLinkActive="active">Registration</button>
        </li>

        <!-- <li class="nav-item">
          <button type="button" class="btn btn-primary"*ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</button>
        </li>

        <li class="nav-item">
          <button type="button" class="btn btn-primary"*ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Registration</button>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" *ngIf="logoutbtn" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
        </li>
      </ul>
  </div>
  <!-- </nav> -->
  <router-outlet></router-outlet>
