<a data-toggle="collapse" href="#insurance">
  <i class="fas fa-archive"></i>
  <p>Insurance</p>
  <span class="caret"></span>
</a>
<div class="collapse" id="insurance">
  <ul class="nav nav-collapse">
    <li>
      <a href={{insurance.buyTeamPlan}} target="_blank">
        <span class="sub-item">Buy Term Plan </span>
      </a>
    </li>
    <li>
      <a href={{insurance.buyHealthPlan}} target="_blank">
        <span class="sub-item">Buy Health Plan </span>
      </a>
    </li>

    <li>
      <a href={{insurance.buyCarInsurance}}  target="_blank">
        <span class="sub-item">Buy Car Insurance</span>
      </a>
    </li>
    <li>
      <a href={{insurance.buyTwoWheeler}} target="_blank">
        <span class="sub-item">Buy Two Wheeler</span>
      </a>
    </li>
  </ul>
</div>
