<table class="table">
  <tr>
    <th scope="col">Yearly  Benefits </th>
    <td>₹18,000/- for shopping </td>
    <td>OR </td>
  </tr>
  <tr>
    <th scope="row">Monthly Benefits </th>
    <td>₹1,500 x 12 Month for shopping</td>
    <td>OR </td>
  </tr>
  <tr>
    <th scope="row">Buy Now </th>
    <td>₹10,000/-</td>
  </tr>
  <tr>
    <th scope="row"></th>
    <td>+</td>
  </tr>
  <tr>
    <th scope="row">Accidental Cover* </th>
    <td> ₹5,00,000/- </td>
  </tr>
  <tr>
    <th scope="row">Holiday Stay package* </th>
    <td>(Domestic ) </td>
  </tr>
  <tr>
    <th scope="row">Health Check up Package *</th>
    <td>For AMP </td>
  </tr>
  <tr>
    <th scope="row">Magazine </th>
    <td>1 x 12 Month </td>
  </tr>
  <tr>
    <th scope="row">Certificate  </th>
    <td>Mission Participation  </td>
  </tr>
  <tr>
    <th scope="row">Shopping Redeem Points  </th>
    <td>₹18,000/-  points </td>
  </tr>
  <tr>
    <th scope="row">Income optional </th>
    <td>As a Partner, Vendor</td>
  </tr>
  <tr>
    <th scope="row">Promotional Items </th>
    <td>Stand, Display Board </td>
  </tr>
  <tr>
    <th scope="row">Vendor Portal </th>
    <td>Buy, Sell</td>
  </tr>
  <tr>
    <th scope="row">Support </th>
    <td>Pin code wise, advertise, Online and offline</td>
  </tr>
  <tr>
    <th scope="row">Daily Income  </th>
    <td>Internal & External Product  Trading</td>
  </tr>
  <tr>
    <th scope="row">Weekly </th>
    <td>Referral Income</td>
  </tr>
  <tr>
    <th scope="row">Monthly Income Salary  </th>
    <td>₹10,000/-, ₹20,000/- & ₹30,000/-</td>
  </tr>
  <tr>
    <th scope="row">Monthly Incentive </th>
    <td>on Team Income</td>
  </tr>
  <tr>
    <th scope="row">Yearly Income Bonus</th>
    <td> ₹10,000/- to ₹3,60,000/- </td>
  </tr>
  <tr>
    <th scope="row">4G Calling Tab</th>
    <td>Tab</td>
  </tr>
  <tr>
    <th scope="row">Provident Fund (PF) </th>
    <td>As per the Government rule</td>
  </tr>
  <tr>
    <th scope="row">E.S.I. </th>
    <td>As per the Government rule</td>
  </tr>
  <tr>
    <th scope="row"></th>
    <td style="color:red">Coming Soon </td>
  </tr>
  <tr>
    <th scope="row">Food </th>
    <td>Grocery (Kirana) Pack
      Remaining Months In case of Death or Till AMP code income transfer to Nominee
      </td>
  </tr>
  <tr>
    <th scope="row">Education </th>
    <td>Education Loan and Scholarship Program </td>
  </tr>
  <tr>
    <th scope="row">Health </th>
    <td>Free consultation and
      Discount in Hospital Bills
      </td>
  </tr>
  <tr>
    <th scope="row">Protection</th>
    <td>Medical floater policy for family</td>
  </tr>
  <tr>
    <th scope="row">Retire Life</th>
    <td>Fear free Plan</td>
  </tr>
  <tr>
    <th scope="row">Repurchase </th>
    <td>Income</td>
  </tr>
</table>
