<div class="sidebar sidebar-style-2">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <!-- <div class="user">
        <div class="avatar-sm float-left mr-2">
          <img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
        </div>
        <div class="info">
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
            <span>
              Hizrian
              <span class="user-level">Administrator</span>
              <span class="caret"></span>
            </span>
          </a>
          <div class="clearfix"></div>

          <div class="collapse in" id="collapseExample">
            <ul class="nav">
              <li>
                <a href="#profile">
                  <span class="link-collapse">My Profile</span>
                </a>
              </li>
              <li>
                <a href="#edit">
                  <span class="link-collapse">Edit Profile</span>
                </a>
              </li>
              <li>
                <a href="#settings">
                  <span class="link-collapse">Settings</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <ul class="nav nav-primary">
        <li class="nav-item active">
          <a data-toggle="collapse"  class="collapsed" aria-expanded="false">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <!-- Admin -->
        <!-- <li class="nav-item">
          <a data-toggle="collapse" href="#customer">
            <i class="fas fa-user"></i>
            <p>Manage Customer</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="customer">
            <ul class="nav nav-collapse">
              <li>
                <a routerLink="/dashboard/customer/manage-member">
                  <span class="sub-item">View / Manage Member</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/customer/find-member">
                  <span class="sub-item">Find Member</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/customer/black-listed">
                  <span class="sub-item">Black Listed</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/customer/recent-member">
                  <span class="sub-item">Recent Member</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/customer/topup-member">
                  <span class="sub-item">TopUp Member</span>
                </a>
              </li>
            </ul>
          </div>
        </li> -->

        <!-- Partner -->
        <li class="nav-item">
          <a data-toggle="collapse" href="#partner">
            <i class="fas fa-handshake"></i>
            <p>Manage Partner</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="partner">
            <ul class="nav nav-collapse">
              <li>
                <a routerLink="/dashboard/partner/manage-member">
                  <span class="sub-item">View / Manage Partner</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/partner/find-member">
                  <span class="sub-item">Find Partner</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/partner/black-listed">
                  <span class="sub-item">Black Listed Partner</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/partner/recent-member">
                  <span class="sub-item">Recent Partner</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/partner/topup-member">
                  <span class="sub-item">TopUp Partner</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Employee -->
        <li class="nav-item">
          <a data-toggle="collapse" href="#employee">
            <i class="fas fa-users"></i>
            <p>Manage Employees</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="employee">
            <ul class="nav nav-collapse">
              <li>
                <a routerLink="/dashboard/employee/manage-member">
                  <span class="sub-item">View / Manage Employee</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/employee/find-member">
                  <span class="sub-item">Find Employee</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/employee/black-listed">
                  <span class="sub-item">Black Listed Employee</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/employee/recent-member">
                  <span class="sub-item">Recent Employee</span>
                </a>
              </li>
              <li>
                <a routerLink="/dashboard/employee/topup-member">
                  <span class="sub-item">TopUp Employee</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#tree">
            <i class="fas fa-tree"></i>
            <p>User Tree Report</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="tree">
            <ul class="nav nav-collapse">
              <li>
                <a href="manage-customer/tree-view.html">
                  <span class="sub-item">User Tree View</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/sponsored-member.html">
                  <span class="sub-item">Sponsored Member</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/downline-report.html">
                  <span class="sub-item">Downline Report</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/create-member.html">
                  <span class="sub-item">Create Member</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#e-wallet">
            <i class="fas fa-wallet"></i>
            <p>E-Wallet</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="e-wallet">
            <ul class="nav nav-collapse">
              <li>
                <a href="manage-customer/manage-wallet.html">
                  <span class="sub-item">Manage Wallet Fund</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/manage-product.html">
                  <span class="sub-item">Manage Product Fund</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/bank-deposite-request.html">
                  <span class="sub-item">Bank Deposite Request</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/fund-transfer.html">
                  <span class="sub-item">Fund Transfer</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/wallet-statement.html">
                  <span class="sub-item">Wallet Statement</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/withdraw-fund.html">
                  <span class="sub-item">Withdraw Fund</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/withdraw-report.html">
                  <span class="sub-item">Withdraw Report</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#e-pin">
            <i class="fas fa-thumbtack"></i>
            <p>E-Pin Section</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="e-pin">
            <ul class="nav nav-collapse">
              <li>
                <a href="manage-customer/create-epin.html">
                  <span class="sub-item">Create E-Pin</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/transfer-epins.html">
                  <span class="sub-item">Transfer E-pin's</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/find-epin.html">
                  <span class="sub-item">Find E-Pin</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/active-epins.html">
                  <span class="sub-item">Active E-Pin's</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/inactive-epins.html">
                  <span class="sub-item">Inactive E-Pin's</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#payout">
            <i class="fas fa-money-check-alt"></i>
            <p>Earning and Payout</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="payout">
            <ul class="nav nav-collapse">
              <li>
                <a href="manage-customer/view-earning.html">
                  <span class="sub-item">View Earning</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/search-earning.html">
                  <span class="sub-item">Search Earning</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/make-payment.html">
                  <span class="sub-item">Make Payment</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/panwise-payment.html">
                  <span class="sub-item">PAN wise Payment</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/panwise-tax-report.html">
                  <span class="sub-item">PAN wise Tax Report</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/hold-payment.html">
                  <span class="sub-item">Hold Payments</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/search-payout.html">
                  <span class="sub-item">Search Payout</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/tax-report.html">
                  <span class="sub-item">Tax Report</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/generate-payout.html">
                  <span class="sub-item">Generate Payout</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/autopay.html">
                  <span class="sub-item">AutoPay</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/earning-roi-report.html">
                  <span class="sub-item">Earning ROI Report</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/daily-roi-report.html">
                  <span class="sub-item">Daily ROI Report</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#reward">
            <i class="fas fa-gift"></i>
            <p>Reward</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="reward">
            <ul class="nav nav-collapse">
              <li>
                <a href="manage-customer/pay-reward.html">
                  <span class="sub-item">Pay Rewards</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/search-reward.html">
                  <span class="sub-item">Search Rewards</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/reward-setting.html">
                  <span class="sub-item">Reward setting</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#accounting">
            <i class="fas fa-calculator"></i>
            <p>Accounting</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="accounting">
            <ul class="nav nav-collapse">
              <li>
                <a href="manage-customer/invoices.html">
                  <span class="sub-item">Invoices</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/purchases.html">
                  <span class="sub-item">Purchases</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/pl-sheet.html">
                  <span class="sub-item">P/L Sheet</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/trasaction-lags.html">
                  <span class="sub-item">Trasaction Lags</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/manage-expenses.html">
                  <span class="sub-item">Manage Expenses</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#support">
            <i class="fas fa-headset"></i>
            <p>Support system</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="support">
            <ul class="nav nav-collapse">
              <li>
                <a href="manage-customer/open-tickets.html">
                  <span class="sub-item">Open Tickets</span>
                </a>
              </li>
              <li>
                <a href="manage-customer/closed-tickets.html">
                  <span class="sub-item">Closed Tickets</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- <li class="nav-item">
          <a data-toggle="collapse" href="#" class="collapsed" aria-expanded="false">
            <i class="fas fa-bullhorn"></i>
            <p>Marketing Tools</p>
          </a>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#" class="collapsed" aria-expanded="false">
            <i class="fas fa-hand-holding-heart"></i>
            <p>Packages</p>
          </a>
        </li>

        <li class="nav-item">
          <a data-toggle="collapse" href="#" class="collapsed" aria-expanded="false">
            <i class="fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
