<!-- Navbar Header -->
<app-pnavbar></app-pnavbar>
<!-- End Navbar -->
 <!-- Sidebar -->
 <app-psidebar></app-psidebar>
 <!-- End Sidebar -->

  <!-- Main Container -->
  <div class="main-panel">
    <div class="content">

      <!-- <div class="page-inner">
        <div class="page-header">
          <h4 class="page-title">Top Up Partners</h4>
          <ul class="breadcrumbs">
            <li class="nav-home">
              <a routerLink="/dashboard">
                <i class="flaticon-home"></i>
              </a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a>Manage Partners</a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a>Top Up Partners</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="card">
            <div class="card-header">
              <div class="card-title">Top Up Partners</div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>User ID</label>
                    <input type="text" class="form-control" id="" placeholder="username">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Amount to Topup</label>
                    <input type="text" class="form-control" id="" placeholder="Amount">
                  </div>
                </div>
              </div>

              <div class="card-action">
                <button class="btn btn-success">TopUp</button>
              </div>
            </div>
          </div>
        </div>
    </div> -->

  <!-- End Main Container -->

 <!-- Footer -->
 <app-home-footer></app-home-footer>
</div>
</div>
 <!-- Footer End -->
